@charset "UTF-8";
/* НАЧАЛО ОБЩИЕ СТИЛИ */
body {
  color: #460101;
  line-height: 1.2;
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  color: #460101;
  font-weight: bold;
  text-align: center; }

@media (min-width: 768px) {
  h1 {
    font-size: 36px; }

  h2 {
    font-size: 32px; }

  h3 {
    font-size: 24px; }

  h4 {
    font-size: 20px; }

  h5 {
    font-size: 18px; }

  h6 {
    font-size: 16px; } }
a {
  color: #460101; }
  a:hover {
    color: #780202;
    text-decoration: none; }

/* НАЧАЛО волнистые линии*/
.zip {
  height: 35px;
  width: 100%;
  position: absolute;
  margin-top: -17px; }

.zip.zip_yellow {
  background: 50% 50%/cover url("../img/zip_yellow.png") repeat-x; }

.zip.zip_green {
  background: 50% 50%/cover url("../img/zip_green.png") repeat-x; }

/* КОНЕЦ волнистые линии*/
/* КОНЕЦ ОБЩИЕ СТИЛИ */
/* НАЧАЛО header */
header {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.4;
  text-align: center; }
  header .address {
    margin-top: 15px; }
    @media (min-width: 767px) {
      header .address {
        float: left;
        text-align: left; } }
  @media (min-width: 767px) {
    header .phone-numbers {
      float: right;
      text-align: right; } }

/* КОНЕЦ header */
/* НАЧАЛО header */
.uk-navbar {
  background: transparent; }
  .uk-navbar.uk-active {
    background: 50% 50%/cover url("../img/navbar_background.png") repeat-x;
    padding-bottom: 10px; }
  .uk-navbar ul.uk-navbar-nav {
    text-align: center;
    float: none; }
    .uk-navbar ul.uk-navbar-nav > li {
      float: none;
      display: inline-block; }
      .uk-navbar ul.uk-navbar-nav > li > a {
        color: #460101;
        font-size: 18px;
        font-weight: bold;
        background: transparent;
        text-shadow: 0 0 10px #f6ffa1, 0 0 20px #f6ffa1; }
    .uk-navbar ul.uk-navbar-nav li:hover,
    .uk-navbar ul.uk-navbar-nav li:focus,
    .uk-navbar ul.uk-navbar-nav li:active,
    .uk-navbar ul.uk-navbar-nav li:visited,
    .uk-navbar ul.uk-navbar-nav li.uk-open {
      outline: none; }
      .uk-navbar ul.uk-navbar-nav li:hover > a, .uk-navbar ul.uk-navbar-nav li:hover > a:focus,
      .uk-navbar ul.uk-navbar-nav li:focus > a,
      .uk-navbar ul.uk-navbar-nav li:focus > a:focus,
      .uk-navbar ul.uk-navbar-nav li:active > a,
      .uk-navbar ul.uk-navbar-nav li:active > a:focus,
      .uk-navbar ul.uk-navbar-nav li:visited > a,
      .uk-navbar ul.uk-navbar-nav li:visited > a:focus,
      .uk-navbar ul.uk-navbar-nav li.uk-open > a,
      .uk-navbar ul.uk-navbar-nav li.uk-open > a:focus {
        background: transparent; }
    .uk-navbar ul.uk-navbar-nav li.uk-active a {
      background: linear-gradient(to bottom, rgba(255, 158, 48, 0) 0, rgba(255, 158, 48, 0.3) 20%, rgba(255, 158, 48, 0.5) 45%, rgba(255, 158, 48, 0.5) 55%, rgba(255, 158, 48, 0.3) 80%, rgba(255, 158, 48, 0) 100%); }
  .uk-navbar a.uk-navbar-toggle {
    color: #460101;
    padding: 0; }

.uk-offcanvas .uk-offcanvas-bar {
  background: #80d01b; }
  .uk-offcanvas .uk-offcanvas-bar .uk-nav.uk-nav-offcanvas > li.uk-active a {
    background: #cd5902; }
  .uk-offcanvas .uk-offcanvas-bar p,
  .uk-offcanvas .uk-offcanvas-bar a {
    color: #460101;
    text-shadow: none; }

/* КОНЕЦ header */
/* НАЧАЛО main section */
.main-section {
  background: 50% 50%/cover url("../img/background_main.jpg");
  padding-bottom: 20px; }
  @media (min-width: 1200px) {
    .main-section {
      background: 50% 0/cover url("../img/background_main.jpg");
      padding-bottom: 0;
      min-height: 100vh; } }
  .main-section p,
  .main-section a {
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 50px white; }
  .main-section img.logo {
    margin: 0 auto;
    padding: 15px;
    display: block; }

/* КОНЕЦ main section */
/* НАЧАЛО about */
.about_advantages {
  background: url("../img/background_about_upper.jpg");
  padding: 45px 0; }
  .about_advantages .uk-grid > * {
    padding-bottom: 20px; }
  .about_advantages p {
    font-size: 24px;
    font-weight: bold;
    text-align: center; }
  .about_advantages .circle {
    border-radius: 50%;
    padding-top: 50%;
    width: 50%;
    margin: 0 auto;
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-image: url("../img/about_circle_purple.png");
    background-repeat: no-repeat; }
    @media (min-width: 767px) {
      .about_advantages .circle {
        padding-top: 60%;
        width: 60%; } }
    .about_advantages .circle.alarm {
      background-image: url("../img/about_alarm.png"); }
    .about_advantages .circle.kids {
      background-image: url("../img/about_kids.png"); }
    .about_advantages .circle.personnel {
      background-image: url("../img/about_personnel.png"); }
    .about_advantages .circle.alphabet {
      background-image: url("../img/about_alphabet.png"); }
    .about_advantages .circle.pencil {
      background-image: url("../img/about_pencil.png"); }
    .about_advantages .circle.book {
      background-image: url("../img/about_book.png"); }
  .about_advantages a:hover {
    display: block; }
    .about_advantages a:hover .circle.alarm {
      background-image: url("../img/about_bear.png"); }
    .about_advantages a:hover .circle.alphabet {
      background-image: url("../img/about_maria.png"); }

.about_summary {
  padding: 30px 0 15px;
  background: 50% 100%/200% auto url("../img/background_about_bottom.jpg"); }
  @media (min-width: 767px) {
    .about_summary {
      background: 50% 100%/cover url("../img/background_about_bottom.jpg"); } }
  .about_summary .big_bear {
    margin-left: 15%; }
  .about_summary p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 5px white; }
    @media (min-width: 767px) {
      .about_summary p {
        margin-top: 5%;
        float: right;
        max-width: 45%;
        text-align: right; } }

/* КОНЕЦ about */
/* НАЧАЛО gallery */
.gallery {
  padding: 30px 0 15px;
  background: 50% 100%/cover url("../img/background_gallery.jpg"); }
  .gallery .uk-slidenav-position {
    margin-bottom: 20px; }
    .gallery .uk-slidenav-position .uk-slideshow {
      max-width: 725px;
      margin: 0 auto;
      border: 3px solid white; }
  .gallery .uk-slider-container li:hover {
    cursor: pointer; }
  @media (min-width: 768px) {
    .gallery .uk-slider-container img {
      border: 3px solid white; } }

/* КОНЕЦ gallery */
/* НАЧАЛО reviews */
.reviews {
  background: #8ae517;
  padding: 30px 0; }
  .reviews img.avatar {
    display: block;
    max-width: 140px;
    max-height: 140px;
    border-radius: 50%;
    margin: 0 auto; }
  .reviews p.review {
    color: black;
    text-align: justify; }
  .reviews p.reviewer_name {
    font-size: 18px;
    text-align: center; }

/* КОНЕЦ reviews */
/* НАЧАЛО контакты/футер */
footer .contacts {
  background: 50% 100%/cover url("../img/contacts_background.png");
  color: white;
  text-align: center;
  padding: 50px 0 20px;
  font-size: 18px;
  text-shadow: 0 0 20px black, 0 0 10px black, -1px -1px 2px black, 1px 1px 2px black;
  margin-bottom: -5px;
  position: relative;
  z-index: 100; }
  footer .contacts a {
    color: white; }
  footer .contacts .logo-container {
    display: flex;
    align-items: center; }
    footer .contacts .logo-container img.logo {
      max-width: 300px;
      margin: 0 auto; }
  footer .contacts img.maria-with-phone {
    display: block;
    margin: 0 auto; }
footer .bottom-wave-line {
  background: 50% 100%/auto 80% url("../img/contacts_bottom_wave_line.png") repeat-x;
  height: 30px;
  width: 100%;
  margin-top: -12px;
  position: absolute; }

/* КОНЕЦ контакты/футер */
/*НАЧАЛО модальное окно*/
.modal-article {
  text-align: justify; }
  .modal-article .uk-modal-dialog {
    background: rgba(255, 255, 255, 0.7); }
    .modal-article .uk-modal-dialog p {
      text-indent: 20px; }
    .modal-article .uk-modal-dialog img {
      border: 3px solid #460101;
      margin-bottom: 5px;
      width: 100%; }
      @media (min-width: 767px) {
        .modal-article .uk-modal-dialog img {
          width: auto;
          max-width: 400px; } }
    .modal-article .uk-modal-dialog img.float-right-img {
      float: right;
      margin-left: 15px; }
    .modal-article .uk-modal-dialog img.float-left-img {
      float: left;
      margin-right: 15px; }

/*КОНЕЦ модальное окно*/

/*# sourceMappingURL=styles.css.map */
